[Unit]
Description=pdns-statistics-proxy
After=network.target

[Service]
User=root
ExecStart=/opt/pdns-statistics-proxy/pdns-statistics-proxy -statsHost 127.0.0.1
Restart=always
RestartSec=3
KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target