[Unit]
Description=pdns-statistics-proxy
After=network.target

[Service]
User=root
ExecStart=/usr/bin/pdns-statsd-proxy -config /etc/pdns-statsd-proxy/config.yaml
Restart=always
RestartSec=3
KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target